// Variables
$sharp-ease-out: cubic-bezier(0.19, 1, 0.22, 1);


// Mixins
@mixin transitions($property, $duration, $delay: 0s, $timing: linear) {

	-webkit-transition-property: $property;
	-webkit-transition-duration: $duration;
	-webkit-transition-delay: $delay;
	-webkit-transition-timing-function: $timing;

	-moz-transition-property: $property;
	-moz-transition-duration: $duration;
	-moz-transition-delay: $delay;
	-moz-transition-timing-function: $timing;

	-o-transition-property: $property;
	-o-transition-duration: $duration;
	-o-transition-delay: $delay;
	-o-transition-timing-function: $timing;

	transition-property: $property;
	transition-duration: $duration;
	transition-delay: $delay;
	transition-timing-function: $timing;


}

@media only screen and (max-width: 450px) {

	/* Display static placeholder */
	// #bgWork {
	// 	opacity: 1;
	// }

	// .menu {
	// 	visibility: hidden;
	// }

	// .content {
	// 	visibility: hidden;
	// }

	// .mobilePlaceholder {
	// 	visibility: visible;

	// 	width: 100%;
	// 	height: 100%;
	// 	text-align: center;

		
	// }

	// .sorry {
	// 	width: 80%;

	// 	position: fixed;
	// 	left: 50%;
	// 	top: 50%;
	// 	transform: translate(-50%, -80%);
	// }

	// .widgets {
	// 	position: fixed;
	// 	bottom: 0;

	// 	height: 20%;
	// 	padding: 0 10%;

	// 	background-color: rgba(0,0,0,0.5);
	// 	font-size: 1.5em;
	// }

	// Center menu
	.menu {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		width: 100%;
	}

	// Menu position topCenter is now actually in the bottom
	.topCenter {
		bottom: -200%;
	}

	.midCenter {
		top: 0;
	}

	// Adjust menu position in ME and WORK pages
	.topCenter, .midCenter {
		left: 50%;
		transform: translateX(-50%) scale(0.75);

		// Scale font size in shrunk mobile menu
		h1 {
			font-size: 5em;
		}

		p {
			font-size: 2.5em;
		}
	}

	// Font size and other customization on ME page
	.about {
		font-size: 2em;

		width: 90%;
		height: auto !important;

		&.active {
			transform: translate(-50%, -125%) scaleY(1) !important;
		}
	}

	// Adjust background size to fit
	#bgMe {
		height: 100%;
		width: auto;
	}


	/* OPTION 1 */
	/************/
	// Project tiles restructure
	// Hide worst projects
	// #mid, #ballz, #vicposts, #globetrottar {
	// 	visibility: hidden !important;
	// }
	// // Loop through projects and set positions
	// $projects: "#soundark", "#mtgn16", "#clickipedia", "#voteordont", "#late";
	// @each $project in $projects {

	// 	$i: index($projects, $project);

	// 	#{$project} {
	// 		width: 90% !important;
	// 		height: 20% !important;

	// 		transform: translate(5%, percentage( (15 + $i * 100)) / 100 ) scale(0.5) !important;
	// 		opacity: 0 !important;

	// 		transition-delay: 2000ms + $i * 150ms !important;

	// 		// Disable clicks when inactive
	// 		pointer-events: none !important;

	// 		&.active {
	// 			transform: translate(5%, percentage( (15 + $i * 100)) / 100 ) scale(1) !important;
	// 			opacity: 1 !important;

	// 			pointer-events: auto !important;
	// 		}
			
	// 	}
	// }
	
	/* END OPTION 1 */
	/****************/

	/* OPTION 2 */
	/************/

	// Project layout - just list them vertically
	.projects {
		height: auto !important;
		// Enable scrolling
		overflow-y: scroll !important;
		// Disable clicking to allow for clicking the menu
		pointer-events: none !important;

		// Positioning
		margin-top: 33% !important;

		&.active {
			// Enable clicking to allow for scrolling
			pointer-events: auto !important;
		}
	}
	.project {
		// Reset a bunch of properties
		margin: 0 !important;
		padding: 0 !important;
		transform: none !important;
		background-image: none !important;
		background-color: initial !important;

		// Start setting stuff
		position: relative !important;
		width: 100% !important;
		max-width: 100% !important;
		height: 500px !important;
		font-size: 2em !important;

		// Hide when inactive
		opacity: 0 !important;

		transition-delay: 1.5s !important;

		// Overflow handling
		overflow-y: auto !important;

		&.active {
			opacity: 1 !important;
		}

		// Restructure project content when clicked
		.mask {
			visibility: hidden;
		}

		.title {
			opacity: 1 !important;
			transform: translate(-50%, -25%) !important; 
			font-size: 2em !important;
			line-height: 2 !important;
			text-shadow: 1px 1px 1px black !important;
			-webkit-text-stroke: 1px white !important;

			position: relative !important;
			height: auto !important;
			top: 5% !important;
		}

		.wrapper {
			opacity: 1 !important;
			font-size: 1.25em !important;

			position: relative !important;

			.banner {
				height: 25% !important;
				background-size: contain !important;
				background-repeat: no-repeat !important;

				position: relative !important;
			}

			.quickFacts {
				position: relative !important;
				float: none !important;
				z-index: initial !important;

				width: 100% !important;
				height: 250px !important;
				padding: 0 !important;

				font-size: 0.8em !important;

				div {
					width: 100% !important;

					ul {
						line-height: 0.75 !important;
						float: none !important;
						position: absolute !important;

						left: 50%;
						top: 50%;
					}

					.heading {
						transform: translate(-110%, -50%);
						text-align: right;
					}

					.answer {
						transform: translate(0%, -50%);
						text-align: left;
					}
				}
			}

			.description {
				position: relative !important;
				float: none !important;

				background-color: seashell;

				width: 90% !important;
				height: auto !important;

				padding: 5% !important;

				h2 {
					font-size: 2em !important;
					line-height: 1 !important;
					margin: 0 !important;
				}

				p {
					font-family: Catamaran !important;
					font-weight: 100 !important;
					font-size: 0.85em;	

				}

				a {
					color: steelblue;
					font-weight: bold;
				}
			}
		}
	}

	/* END OPTION 2 */
	/****************/
}

@media only screen and (max-width: 1024px) {

	body {
		font-size: 60% !important;
	}

	.wrapper {
		font-size: 0.5em !important;

		.description {
			font-size: 0.85em !important;
		}
	}
}